body{ /* aplica para toda la pagina  */
 background:#282a36; /* para el fondo  */
 overflow: hidden; /* oculta el desbordamiento  */
 animation: skyBg 10s infinite linear; /* es la animacion  */
}

.sun{   /* para la figura del sol  */
    position: absolute; /* define la posicion del sol  */
    top: 50%; /* fija al sol en un 50% de arriva a abajo*/
    left: 50%;/* fija al sol en un 50% de izquierda a derecha */
    transform: translate(-50%, -50%); /* transformar */
    border-radius: 50%; /* alinea el borde del radio */
    height: 200px; /* define la altura  */
    width: 200px;/* define el ancho */
    background: orange;/* el fondo del sol */
    box-shadow: 0 0 10px orange, 0 0 60px orange, 0 0 200px yellow, inset 0 0 80px yellow;/* es la sombra o destello del sol  */
}

.moon{/* para la figura de la luna  */
    position: absolute;/* posicion de la luna */
    top: 1px;  /* define la altura en 1px */
    left: 10px;/* define la posicion en 10px de izquierda a derecha */
    border-radius: 50%;
    height: 200px;/* define la altua  */
    width: 200px;/* define el ancho */
    background: #0e0f10;/* el fondo de la luna  */
    box-shadow: inset 0 0 50px rgba(150, 150, 150, 0);/* sombra de la luna  */
    animation: eclipse 10s infinite linear;/* el tiempo de la animacion  */
    transform-origin: 50% 150%;
}

@keyframes skyBg{/* para el cielo  */
    0%{
        background: #80bde3;/* color del cielo  */
    }
    60%{
        background: black;/* color del cielo durante el eclipse  */
    }
    100%{
        background: #80bde3; /* color del cielo durante el  */
    }
}

@keyframes eclipse{/* durante el eclipse  */
    0%{
        transform: rotate(-60deg);/* rotaciuon de la luna en entrada  */
    }
    90%{
        transform: rotate(30deg);/* rotacion de la luina en el centro  */
    }
    100%{
        transform: rotate(300deg);/* rotacion de la luna en salida  */
    }
}
